Test-Command: /usr/share/cargo/bin/cargo-auto-test wechsel 0.2.4 --all-targets --all-features
Features: test-name=rust-wechsel:@
Depends: dh-cargo (>= 31), rustc (>= 1.74.1), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test wechsel 0.2.4 --all-targets
Features: test-name=librust-wechsel-dev:default
Depends: dh-cargo (>= 31), rustc (>= 1.74.1), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test wechsel 0.2.4 --all-targets --no-default-features --features deserial
Features: test-name=librust-wechsel-dev:deserial
Depends: dh-cargo (>= 31), rustc (>= 1.74.1), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test wechsel 0.2.4 --all-targets --no-default-features
Features: test-name=librust-wechsel-dev:
Depends: dh-cargo (>= 31), rustc (>= 1.74.1), @
Restrictions: allow-stderr, skip-not-installable
