Source: rust-wechsel
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native,
 rustc:native (>= 1.74.1),
 libstd-rust-dev,
 librust-clap-4+derive-dev (>= 4.5.4-~~),
 librust-clap-4+help-dev (>= 4.5.4-~~),
 librust-clap-4+std-dev (>= 4.5.4-~~),
 librust-dialoguer-0.11-dev,
 librust-dirs-5+default-dev (>= 5.0.1-~~),
 librust-serde-1+derive-dev (>= 1.0.197-~~),
 librust-serde-json-1+default-dev (>= 1.0.115-~~)
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.7.2
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/wechsel]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/wechsel
Homepage: https://github.com/JustSomeRandomUsername/wechsel
X-Cargo-Crate: wechsel

Package: librust-wechsel-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-clap-4+derive-dev (>= 4.5.4-~~),
 librust-clap-4+help-dev (>= 4.5.4-~~),
 librust-clap-4+std-dev (>= 4.5.4-~~),
 librust-dialoguer-0.11-dev,
 librust-dirs-5+default-dev (>= 5.0.1-~~),
 librust-serde-1+derive-dev (>= 1.0.197-~~),
 librust-serde-json-1+default-dev (>= 1.0.115-~~)
Provides:
 librust-wechsel+default-dev (= ${binary:Version}),
 librust-wechsel+deserial-dev (= ${binary:Version}),
 librust-wechsel-0-dev (= ${binary:Version}),
 librust-wechsel-0+default-dev (= ${binary:Version}),
 librust-wechsel-0+deserial-dev (= ${binary:Version}),
 librust-wechsel-0.2-dev (= ${binary:Version}),
 librust-wechsel-0.2+default-dev (= ${binary:Version}),
 librust-wechsel-0.2+deserial-dev (= ${binary:Version}),
 librust-wechsel-0.2.4-dev (= ${binary:Version}),
 librust-wechsel-0.2.4+default-dev (= ${binary:Version}),
 librust-wechsel-0.2.4+deserial-dev (= ${binary:Version})
Description: Organize your Computer with projects - Rust source code
 Source code for Debianized Rust crate "wechsel"

Package: wechsel
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${cargo:Depends}
Recommends:
 ${cargo:Recommends}
Suggests:
 ${cargo:Suggests}
Provides:
 ${cargo:Provides}
Built-Using: ${cargo:Built-Using}
Static-Built-Using: ${cargo:Static-Built-Using}
Description: Organize your Computer with projects
 This package contains the following binaries built from the Rust crate
 "wechsel":
  - wechsel
